# How do I select rows from a DataFrame based on column values?

In [1]:
import pandas as pd

In [3]:
# read in worker data
worker_df = pd.read_csv('../widget_factory/data/workers.csv')
print(worker_df.shape)
worker_df.head()

(5000, 5)

   Worker ID      Worker Name   Hire Date Worker Status            Team
0       1000       Paul Clark  2020-09-12     Part Time        SeaGreen
1       1001     Andrea White  2001-11-08     Full Time         Crimson
2       1002    Daniel Taylor  2002-06-10     Part Time  LightSteelBlue
3       1003      Ann Manning  2019-09-13      Per Diem         Crimson
4       1004  Brenda Gonzales  2000-12-23     Part Time         Crimson