## EDA Take Home Challenge - Sample Plan

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.dates import DateFormatter
from collections import Counter

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Set default plotting parameters
plt.rcParams['figure.figsize'] = [20.0, 7.0]
plt.rcParams.update({'font.size': 22})

sns.set_palette('colorblind')
sns.set_style('white')
sns.set_context('talk')

In [3]:
# read in worker data
worker_df = pd.read_csv('data/workers.csv')
print(worker_df.shape)
worker_df.head()

(5000, 5)

   Worker ID      Worker Name   Hire Date Worker Status            Team
0       1000       Paul Clark  2020-09-12     Part Time        SeaGreen
1       1001     Andrea White  2001-11-08     Full Time         Crimson
2       1002    Daniel Taylor  2002-06-10     Part Time  LightSteelBlue
3       1003      Ann Manning  2019-09-13      Per Diem         Crimson
4       1004  Brenda Gonzales  2000-12-23     Part Time         Crimson

#### Read in the data and basic easy questions... How much data? Do we have missing values? Unique Values?

#### Visualize each variable alone - univariate analysis

#### Multivariate Analysis - Are there interesting interactions between features?

#### Conclusions - Wrap up and discuss key insights